<h2>一覧</h2>
<div>
  <div>
    <label>名前:
      <input #itemName placeholder="名前を入力してください"/>
    </label>
  </div>
  <div>
    <label>置き場所:
      <input #itemLocation placeholder="置き場所を入力してください"/>
    </label>
  </div>
  <div>
    <label>メモ:
      <input #itemMemo placeholder="メモを入力してください"/>
    </label>
  </div>
  <!-- (click) 入力値をadd()に渡したあと、入力をクリアする -->
  <button (click)="add(itemName.value, itemLocation.value, itemMemo.value); itemName.value=''; itemLocation.value=''; itemMemo.value=''">
    追加
  </button>
</div>
<ul class="items">
  <li *ngFor="let item of items">
    <a routerLink="/detail/{{item.id}}">
      <span class="badge">{{item.id}}</span> {{item.name}} {{item.location}} {{item.memo}}
    </a>
    <button class="delete" title="delete item"
    (click)="delete(item)">x</button>
  </li>
</ul>
